title: Premium Supply
description: Proudly Canadian storefront
baseurl: "/Premium"   # because repo = Premium

collections:
  products:
    output: true
    permalink: /p/:slug/

defaults:
  - scope:
      path: ""
      type: products
    values:
      layout: product